   .loading_box {
        overflow: hidden;
        height: 5rem;
        background-color: #fff;
        text-align: center;
        line-height: 5rem;
        font-size: 0;
    }
    
    .loading_box span {
        padding-left: .57rem;
        display: inline-block;
        display: inline;
        zoom: 1;
        height: 5rem;
        background: url(/Public/images/loading.gif) no-repeat 0 center, url(/Public/images/loading.gif) no-repeat 2rem center, url(/Public/images/loading.gif) no-repeat 4rem center;
        background-size: 1.4rem auto;
        font-size: .12rem;
        color: #FFB473;
        line-height: 5rem;
    }
    
    .content_null_box {
        overflow: hidden;
        padding: 34px 0;
        border-top: 1px solid #aeb4ca; 
        background-color: #fff;
    }
    
    .content_null_box img {
        display: block;
        margin: 0 auto .06rem;
    }
    
    .content_null_box span {
        display: block;
        overflow: hidden;
        font-size: .15rem;
        color: #513d3d;
        text-align: center;
       
    }
    .content_null_but_box {
        overflow: hidden;
        margin-top: .25rem;
        padding: .15rem 0;
    }
    .content_null_but_box a {
        display: block;
        margin: 0 auto;
        width: 2.1rem;
        height: .4rem;
        background-color: #FFB473;
        font-size: .17rem;
        color: #fff;
        text-align: center;
        line-height: .4rem;
        border-radius: .4rem;
    }