        <volist name="list" id="vo">
        <div class="item clearfix">
        <a href="{:U('Mh/'.$vo['id'])}" class="clearfix" title="{$vo.title} {$vo.title}漫画">
            <div class="cover">
            	<img width="75" height="100" class="lazy" src="/Public/file/default_img.png" data-original="{$vo.cover_pic}" style="background: rgb(238, 238, 238); display: block;" alt="{$vo.title}漫画">
            </div>
            <div class="body">
                <div class="title">{$vo.title}</div>
                <div class="col">
                    <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <circle cx="12" cy="7" r="6" fill="#ccc"></circle>
                        <path d="M12 11a10 10 0 0 1 10 10 2 2 0 0 1-2 2H4a2 2 0 0 1-2-2 10 10 0 0 1 10-10z" fill="#ccc"></path>
                    </svg>
                    	{$vo.author}
                </div>
                <div class="col">
                {$vo.arr_catename}
                </div>
                <div class="col">更新至：第{$vo.episodes}话 <!-- 跟我有一腿的，是你 --></div>
            </div>
        </a>
        </div>
        </volist>