		<volist name="list" id="vo">
			<div style="width:100%;padding-bottom: 20px;border-bottom: 1px solid #ddd;position:relative;">
				<img class="lazy"  src="/Public/file/default_img.png" data-original="{$vo.cover_pic}" style="width:88px;height:110px;float:left;margin:10px;" alt="{$vo.title}漫画"/>
				<div class="title" style="margin-top: 15px;font-size: 17px;color: #000;">{$vo.title}</div>
				<div class="text" style="margin-top: 5px;font-size: 14px;color: #666666;">{$vo.author}</div>
				<div class="text" style="margin-top: 5px;font-size: 14px;color: #666666;height:60px;text-overflow: ellipsis;overflow: hidden; word-wrap: break-word;word-break: break-all;">{$vo.summary}</div>
				<div onclick="location.href=&#39;{:U('Mh/'.$vo[id])}&#39;" style="position: absolute;top: 10px;right: 10px;padding: 8px;border: 1px solid #FF9800;border-radius: 5px;color: #FF9800;">立即阅读</div>
			</div>
	   </volist>
	   