<foreach name="list" item="v">

<div class="item item-lists" onclick="choose(this);">
	<if condition="$v['btype'] neq 3">
		<a href="{:U('Index/stInfo',array('id'=>$v['anid']))}">
	<else />
		<a href="{:U('Index/info',array('id'=>$v['anid']))}">
	</if>
		<div class="cover">
			<img class="img-ajax-lazy" src="{$v.coverpic}" style="background: rgb(238, 238, 238); display: block;height: 4.268rem;">
		</div>
		<div class="body">
			<div class="title">
				{$v.title}
			</div>
		</div>
		<i class="icon-tj"><img style="width: 100%;" src="__PUBLIC__/home/images/zhengzaikan.png" alt=""></i>
	</a>
	<div class="cp-box" style="display: block;">
		<div class="swtich" _id="{$v['id']}"></div>
	</div>
</div>

</foreach>