<section class="content-header">
<div>
	<ol class="breadcrumb" style="background: none; margin-bottom: 0px;">
		<li><a href="{:U('Index/index')}" style="color: #333;"><i class=" fa fa-home"></i> Home</a></li>
		<li class="active">数据统计</li>
		<li class="active"> 充值统计</li>
	</ol>
</div>
</section>
<section class="content">
	<div class="row">
		<div class="col-xs-12">

			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4>直接充值</h4>
							<span>通过非书本相关充值</span>
						</div>
						<div class="panel-body">
							<h5>充值总额：<strong>{$tops['zcharge']|default="0.00"}</strong>元</h5>
							<h5>充值笔数：<strong>{$tops['zchargeNums']|default="0"}</strong>笔</h5>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4>引导充值</h4>
							<span>通过书本相关的充值</span>
						</div>
						<div class="panel-body">
							<h5>充值总额：<strong>{$tops['dcharge']|default="0.00"}</strong>元</h5>
							<h5>充值笔数：<strong>{$tops['dchargeNums']|default="0"}</strong>笔</h5>
						</div>
					</div>
				</div>
			</div>
			<!-- </div> -->
			<div class="form-group" style="float: left;margin: 8px;">
				<ul class="nav nav-pills channelType" style="margin-bottom: 10px;">
					<li class="dbtype" data-btype="1">
						<a class="btn novelrecharge_btn" href="{:U('charge',array('btype'=>1))}" data-toggle="tabs">漫画充值统计</a>
					</li>
					<li class="dbtype" data-btype="2">
						<a class="btn commendbook_btn" href="{:U('charge',array('btype'=>2))}" data-toggle="tabs">小说充值统计</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<script>
		$(function(){
			var btype = "{$_GET['btype']}"?"{$_GET['btype']}":1;
			$('.dbtype').each(function(){
				if($(this).data('btype') == btype){
					$(this).addClass('active');
				}
			})
		})
		
	</script>
	
	<div class="row">
		<div class="col-md-6" style="margin: 0 0 7px 7px;">
			<span>以下是单本充值数据</span>
		</div>
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h4 class="box-title"></h4>
					<div class="box-tools" style="left: 10px;top: 10px">
						<form class="form-inline" method="post">
							<div class="input-group input-group-sm" style="width: 200px;">
								<input type="text" name="title" class="form-control pull-right" placeholder="名称" value="{$_GET['title']}">
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default">搜索
									</button>
								</div>
							</div>
						</form>
						<form style="margin-left:230px;margin-top:-30px;" method="post" id="form">
							<div class="input-group input-group-sm">
								<select id="order" name="order" style="width:120px;" class="form-control" onchange="Confirm();" default="{$_GET['order']}">
									<option value="">排序筛选</option>
									<option value="ycharge,SORT_ASC">昨日充值升序</option>
									<option value="ycharge,SORT_DESC">昨日充值降序</option>
									<option value="acharge,SORT_ASC">总充值升序</option>
									<option value="acharge,SORT_DESC">总充值降序</option>
								</select>
							</div>
						</form>
					</div>
				</div>
				<script>
					function Confirm(){
						$('#form').submit();
					}
				</script>
				<!-- /.box-header -->
				<div class="box-body">
					<table class="table table-striped table-hover table-bordered text-center">
						<tbody>
							<tr>
								<th>名称</th>
								<th>推广次数</th>
								<th>今日充值(元)</th>
								<th>昨日充值(元)</th>
								<th>总充值(元)</th>
							</tr>
							<foreach name="list" item="v">
							<tr>
								<td>{$v.title}</td>
								<td>{$v.chapterNums|default="0"}</td>
								<td>{$v.tcharge|default="0"}</td>
								<td>{$v.ycharge|default="0"}</td>
								<td>{$v.acharge|default="0"}</td>
							</tr>
							</foreach>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
				<div class="page">{$page|default="<p style='text-align:center'>暂时没有数据</p>"}</div>
			</div>
		</div>
	</div>
</section>